#fnfLayout2Layout {
   
}

.layout2-right-div{
	margin: 35px 45px 30px 10px;
	background-color: #06aa9a;
	color: white;


}
.layout2-right-div ul li{
	list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
    padding: 10px 16px 10px 16px;
    line-height: 40px;
    list-style: none;
    font-size: 24px;
    text-align: left;
    text-decoration: none;
}